<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 1. PERMISSIONS: Required for Cloud and Gallery Uploads -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Grama Vasathi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MessagesActivity"
            android:exported="false" /> <!-- 2. LAUNCHER: The Green Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 3. MAIN NAVIGATION & GUIDE -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".CulturalGuideActivity"
            android:exported="false" /> <!-- 4. HOST SIDE SCREENS -->
        <activity
            android:name=".HostActivity"
            android:exported="false" />
        <activity
            android:name=".HostDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".AddPropertyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MyListingsActivity"
            android:exported="false" />
        <activity
            android:name=".HostBookingsActivity"
            android:exported="false" /> <!-- 5. GUEST SIDE SCREENS -->
        <activity
            android:name=".ListingActivity"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".BookingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".GuestBookingsActivity"
            android:exported="false" />
    </application>

</manifest>